


#title{
  padding-top: 90px;
padding-left: 3%;
padding-right: 3%;
padding-bottom: 50px;
}

body {
    background: black url(https://i.pinimg.com/originals/fe/91/5f/fe915f25f0f4b70e05d365a61f1920db.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.Entete{
  margin:200px;
  height: 9px;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  border-radius:50%;
  color:white;
  font-family: 'Rock Salt', cursive;
  font-size: 28px;
  text-shadow: 2px 2px 2px black;
}

.header{
  display: flex;
}



nav.index ul {
  margin:150px;
  height:9px;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  border-radius:50%;
  background-color: black ;
  font-size: 30px;
  color:white;
  font-family: 'Rock Salt', cursive;
  list-style-type: none;
  text-shadow: 2px 2px 2px black;
}

.indexbutton {
  height: 85px;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  border-radius:90%;
  background-color: #B91132;
}

.performances{
  margin:100px;
  height: 60px;
  background-color: black;
  border-radius:50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-start;
  color:#f0750f;
  font-family: 'Rock Salt', cursive;
  font-size: 26px;
  text-shadow: 2px 2px 2px black;
  
}

nav.LDM ul {
  width:95%;
  float: center;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  color:white;
  font-size: 32px;
  font-family: 'Rock Salt', cursive;
  list-style-type: none;
  text-shadow: 2px 2px 2px black;
}

.perf {
  display: inline-block;
  text-align:center;
  width:27%;
  padding:10px;
  margin:20px;
  background-color: #B91132;
  opacity: 0.9;
}


.backop {
  background-color: #f0750f;
  opacity: 0.9;
}


.wild{
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  color:white;
  font-size: 36px;
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px 2px black;
}



.Epilogue{
  margin:100px;
  height: 350px;
  background-color: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-start;
  color:#f0750f;
  font-family: 'Rock Salt', cursive,sans serif;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
}





.footer{
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
  color:#f0750f;
  font-size: 32px;
  font-family: 'Rock Salt', cursive;
  text-shadow: 1px 1px 1px black;
  background-color: #EEE;
}



